*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logoPrincipal{
    border: solid 2px white;
    padding: 5px;
    height: 80px;
    width: 80px;
    display: inline-block;
}

.main{
    max-height: 150vh !important;
}

.tarjeta{
    width: 250px !important;
}

.boton{
    color: whitesmoke !important;
}
.footer{
    border: solid 1px white;
    padding: 5px;
    margin: 3px;
    margin-top: 16px;
}

.links{
    text-decoration: none !important;
    color: whitesmoke !important;
    box-shadow: none !important;
}