/*COLORES*/
/*TAMANOS*/
/*MARGINS*/
/*POSICIONES*/
/*COLORES*/
/*TAMANOS*/
/*MARGINS*/
/*POSICIONES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #A6A6A6;
  overflow: hidden; }
  header .logoPrincipal {
    border: solid 2px #172626;
    padding: 5px;
    height: 80px;
    width: 80px;
    display: inline-block;
    color: #BFBFBF !important; }
  header .boton {
    background-color: #172626 !important;
    border: none !important;
    cursor: pointer;
    transition: 0.3s ease all;
    position: relative;
    z-index: 1;
    width: 100px;
    overflow: hidden;
    border-radius: 25px !important;
    padding: 5px;
    margin: 3px;
    text-align: center; }
  header .textoBoton {
    z-index: 2;
    color: #F2ECE4 !important;
    text-align: center !important;
    text-decoration: none;
    position: relative;
    transition: 0.3s ease all; }
  header .boton::after {
    content: "";
    background-color: #000;
    z-index: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out all;
    top: -40px;
    left: 0px;
    position: absolute; }
  header .boton:hover::after {
    top: 0px; }
  header .bg-color {
    background-color: #A6A6A6; }

main {
  overflow: hidden;
  background-color: #262626;
  /*index*/
  /*Nuevos*/
  /*Proximos*/
  /*Noticias*/
  /*Suscribete*/
  /*404*/ }
  main .links {
    text-decoration: none;
    color: #F2ECE4; }
  main .boton {
    background-color: #172626 !important;
    border: none !important;
    cursor: pointer;
    transition: 0.3s ease all;
    position: relative;
    z-index: 1;
    width: 100px;
    overflow: hidden;
    border-radius: 25px !important;
    padding: 5px;
    margin: 3px;
    text-align: center; }
  main .textoBoton {
    z-index: 2;
    color: #F2ECE4 !important;
    text-align: center !important;
    text-decoration: none;
    position: relative;
    transition: 0.3s ease all; }
  main .boton::after {
    content: "";
    background-color: #000;
    z-index: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out all;
    top: -40px;
    left: 0px;
    position: absolute; }
  main .boton:hover::after {
    top: 0px; }
  main .colorbck {
    background-color: #262626 !important;
    border: none !important; }
  main .description {
    color: #F2ECE4;
    text-align: center;
    margin-top: 25px; }
  main .reparto {
    border-radius: 20%;
    position: relative;
    margin: 5px;
    padding: 10px; }
  main .col-noticias .seccion-noticias {
    height: 33.33%; }
    main .col-noticias .seccion-noticias .noticia {
      text-decoration: none; }
      main .col-noticias .seccion-noticias .noticia .img-noticias {
        margin: 2rem;
        border-radius: 10px; }
      main .col-noticias .seccion-noticias .noticia .titular {
        color: #F2ECE4;
        font: bold; }
      main .col-noticias .seccion-noticias .noticia .cuerpo {
        color: #F2ECE4; }
  main .noticia {
    align-content: center; }
    main .noticia .ntc {
      text-decoration: none;
      color: #F2ECE4; }
    main .noticia .img-noticia {
      height: 200px;
      border-radius: 25px;
      width: max-content; }
    main .noticia .cuerpo-noticia {
      color: #F2ECE4; }
  main .size {
    height: 75vh;
    width: 100%; }
    main .size .registro {
      width: 90vh;
      background: #172626;
      padding: 50px;
      margin: auto;
      margin-top: 50px;
      border-radius: 5px;
      color: #F2ECE4;
      box-shadow: 7px 13px 37px #0D0D0D; }
      main .size .registro h4 {
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center; }
      main .size .registro .controls {
        width: 100%;
        background: #262626;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #172626;
        font-size: 18px;
        color: #F2ECE4; }
      main .size .registro .botons {
        width: 100%;
        background: #262626;
        border: none;
        padding: 12px;
        color: #F2ECE4;
        margin: 16px 0;
        font-size: 16px; }
  main .not-found {
    height: 75vh;
    width: 100%;
    text-align: center;
    position: relative; }
    main .not-found .txt-not-found {
      position: absolute;
      font-size: 5rem;
      top: 10%;
      left: 13%;
      color: #F2ECE4; }
    main .not-found .txt2-not-found {
      position: absolute;
      font-size: 3rem;
      top: 50%;
      left: 17%;
      color: #F2ECE4; }

footer {
  background-color: #A6A6A6;
  height: 12vh;
  padding: 20px;
  overflow: hidden; }
  footer .boton {
    background-color: #172626 !important;
    border: none !important;
    cursor: pointer;
    transition: 0.3s ease all;
    position: relative;
    z-index: 1;
    width: 100px;
    overflow: hidden;
    border-radius: 25px !important;
    padding: 5px;
    margin: 3px;
    text-align: center; }
  footer .textoBoton {
    z-index: 2;
    color: #F2ECE4 !important;
    text-align: center !important;
    text-decoration: none;
    position: relative;
    transition: 0.3s ease all; }
  footer .boton::after {
    content: "";
    background-color: #000;
    z-index: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out all;
    top: -40px;
    left: 0px;
    position: absolute; }
  footer .boton:hover::after {
    top: 0px; }
