/*COLORES*/
$blanco: #F2ECE4;
$gris-letra: #BFBFBF;
$gris-claro:#A6A6A6;
$gris-fondo: #262626;
$negro:#0D0D0D;
$verde: #172626;

/*TAMANOS*/
$base-ampliado: 270px;
$alto: 400px;
$base-index: 250px;

/*MARGINS*/
$normal: 5px;
$amplio: 10px;

/*POSICIONES*/
$centrado: center;
