@import "variables";
@import "mixines";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: $gris-claro;
  overflow: hidden;
  @include logo;
  @include animacion-botones;
  .bg-color {
    background-color: $gris-claro;
  }
}
main {
  @include links;
  @include animacion-botones;
  overflow: hidden;
  background-color: $gris-fondo;
  /*index*/
  .colorbck {
    background-color: $gris-fondo !important;
    border: none !important;
  }
  /*Nuevos*/
  .description {
    color: $blanco;
    text-align: center;
    margin-top: 25px;
  }
  .reparto {
    border-radius: 20%;
    position: relative;
    margin: $normal;
    padding: $amplio;
  }
  /*Proximos*/
  .col-noticias {
    .seccion-noticias {
      height: 33.33%;
      .noticia {
        text-decoration: none;
        .img-noticias {
          margin: 2rem;
          border-radius: 10px;
        }
        .titular {
          color: $blanco;
          font: bold;
        }
        .cuerpo {
          color: $blanco;
        }
      }
    }
  }
  /*Noticias*/
  .noticia {
    align-content: center;
    .ntc {
      text-decoration: none;
      color: $blanco;
    }
    .img-noticia {
      height: 200px;
      border-radius: 25px;
      width: max-content;
    }
    .cuerpo-noticia {
      color: $blanco;
    }
  }
  /*Suscribete*/
  .size {
    height: 75vh;
    width: 100%;
    .registro {
      width: 90vh;
      background: $verde;
      padding: 50px;
      margin: auto;
      margin-top: 50px;
      border-radius: 5px;
      color: $blanco;
      box-shadow: 7px 13px 37px $negro;
      h4 {
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center;
      }
      .controls {
        width: 100%;
        background: $gris-fondo;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid $verde;
        font-size: 18px;
        color: $blanco;
      }

      .botons {
        width: 100%;
        background: $gris-fondo;
        border: none;
        padding: 12px;
        color: $blanco;
        margin: 16px 0;
        font-size: 16px;
      }
    }
  }
  /*404*/
  .not-found {
    height: 75vh;
    width: 100%;
    text-align: center;
    position: relative;
    .txt-not-found {
      position: absolute;
      font-size: 5rem;
      top: 10%;
      left: 13%;
      color: $blanco;
    }
    .txt2-not-found {
      position: absolute;
      font-size: 3rem;
      top: 50%;
      left: 17%;
      color: $blanco;
    }
  }
}

footer {
  background-color: $gris-claro;
  height: 12vh;
  padding: 20px;
  overflow: hidden;
  @include animacion-botones;
}
